html{
    font-size: 62.5%;
}
body{min-height:100vh;
display:flex;
flex-direction:column;}
section{flex-grow:1;}
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


/* =========================================================================
                                Classe générique
========================================================================= /

    /* =========================================================================
                                    Margin & Padding
    ========================================================================= */
    .ptb-50{padding: 50px 0;}
    .no-margin{margin:0;}
    .no-padding{padding:0;}
    /* =========================================================================
                                    Height + Width
    ========================================================================= */

    /* =========================================================================
                            Font-size & Font-family & font-weight
    ========================================================================= */
    .fs-50{font-size:5rem;}
    .fs-40{font-size:4rem;}
    .fs-30{font-size:3rem;}
    .fs-20{font-size:2rem;}
    .fs-15{font-size:1.5rem;}
    .ubuntu{font-family: 'Ubuntu', sans-serif;}
/* =========================================================================
                                Color & Background/filtre & border
    ========================================================================= */

    .color1{color:#F6490D;} /* orange */
    .color2{color:#000;} /* noir */
    .color3{color:#FAF9F0;} /* blanc léger */


    .bgcolor1{background-color:#F6490D;}
    .bgcolor2{background-color:#000249;}
    .bgcolor3{background-color:#1DCED8;}
    .bgcolor4{background-color: #F5F5F5;}

    /* =========================================================================
                                    Géneral Générique
    ========================================================================= */


/* =========================================================================
                                Classe Spécifique
========================================================================= */

nav a {color:#fff;}
